<%- include('./layout/header.ejs') %>
    <!-- page content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">
                            <%= post.title %>
                        </h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted by Admin, on January 1, 2022 by Start Bootstrap
                        </div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <% if(post.image !==undefined && post.image !=='' ){ %>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= post.image %>" alt="..." />
                            <% }else{ %>
                                <img class="img-fluid rounded mb-4 mb-lg-0"
                                    src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
                                <% } %>

                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">
                            <%= post.content.substring(0,50) %>
                        </p>
                    </section>
                </article>

                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <h4>Leave a comment</h4>
                            <form class="mb-4" id="comment-form">
                                <input type="hidden" name="post_id" value="<%= post._id  %> ">
                                <input type="text" name="username" placeholder="Enter Your Name"
                                    class="form-control mb-3" required>
                                 <input type="email" name="email" class="form-control mb-3" id="">   
                                <textarea class="form-control" name="comment" rows="3"
                                    placeholder="Enter comment here"></textarea>
                                <input type="submit" value="Submit" class="btn btn-primary mt-3">
                            </form>
                            <p class="com-status" style="color: green;"></p>
                            <!-- Comment with nested comments-->
                            <% if (post.comments.length>= 0) {
                                post.comments.map(function(comment){
                                %>
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle"
                                            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">
                                            <%= comment.username %>
                                        </div>
                                        <%= comment.comment %>

                                        <%
                                        if(comment.replies){
                                            comment.replies.forEach(function(reply){
                                                console.log(reply);
                                                %>
                                                <div class="d-flex mt-4">
                                                <div class="flex-shrink-0"><img class="rounded-circle"
                                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                <div class="ms-3">
                                                    <div class="fw-bold"><%= reply.name%></div>
                                                    <%= reply.reply%>
                                                    </div>
                                                    </div>  
                                                <%
                                            })
                                        }
                                        %>

                                        <div class="col-sm-12">
                                            <form class="do-reply">
                                                <input type="hidden" name="post_id" value="<%= post._id  %>">
                                                <input type="hidden" name="comment_id" value="<%= comment._id  %>">
                                                <input type="hidden" name="comment_email" value="<%= comment.email  %>">
                                                <div class="form-group">
                                                    <input type="text" class="form-control mb-3" placeholder="Enter Name" name="name" required>
                                                 </div>
                                                 <div class="form-group">
                                                    <textarea class="form-control mb-3" name="reply" placeholder="Enter reply" required></textarea>
                                                 </div>
                                                 <input type="submit" value="Reply" class="btn btn-primary btn-sm">
                                                </form>
                                            
                                            </div>
                                    </div>
                                </div>
                                <% }); } %>
                        </div>
                    </div>

                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..."
                                aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to
                        use, and feature the Bootstrap 5 card component!</div>
                </div>
                //
            </div>

        </div>

    </div>

    <script>
        // jQuery code.....................
        $(document).ready(function () {
            $('#comment-form').submit(function (event) {
                event.preventDefault();
                var obj = $(this);
                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    url: "/add-comment",
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        // console.log(data);
                        $('.com-status').text(data.msg);
                        setTimeout(function () {
                            $('.com-status').text('');
                        }, 5000);
                        $(obj)[0].reset();
                    }
                });
            });

            $(".do-reply").submit(function(event){
                event.preventDefault();
                var formData = $(this).serialize();
                console.log(formData);
                var obj = $(this);
                $.ajax({
                    url: "/do-reply",
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        console.log(data);
                      $(obj)[0].reset();
                      $(obj).parent().parent().append('<p>'+data.msg+'</p>')
                    }
                });
            })
        });
    </script>

    <%- include('./layout/footer.ejs') %>